body{
background-color:#333;

}

#page {
background-color: #1A7440;
}

#header {
background:url("../images/cabecera.jpg") no-repeat scroll 0 0 transparent;
height:316px;
}

#main-wrapper{
background:url("../images/cuerpo.jpg") no-repeat scroll 0 0 transparent;
height:auto;
background-color:#1A7440;
}

#footer{
background:url("../images/pie.jpg") no-repeat scroll 0 0 transparent;
height:140px;
padding-bottom:20px;
}

#content-area {
padding:10px 20px 20px 20px;
}

div.help{
padding:0 20px 0 20px;
}

div.tabs{
padding:0 20px 0 20px;
}

div.messages{
padding:0 20px 0 20px;
}

h1.title, h2.title, h3.title {
padding-left:20px;
}

div.breadcrumb{
padding:0 20px 0 20px;
}

/* PANEL HOME */

/* Vista 1 */
div.panels-flexible-home div.view-display-id-page_1 div.view-content div.views-field-title{
color:#fff;
}
/* Vista 2 */
div.panels-flexible-home div.view-display-id-page_2 div.view-content div.views-field-title {
color:#fff;
width:150px;
padding-left:20%;
}
/* Vista 3 */
div.panels-flexible-home div.view-display-id-page_3 div.view-content div.views-field-title{
color:#fff;
}
/* Vista 4 */
div.panels-flexible-home div.view-display-id-page_4 div.view-content div.views-field-title{
color:#fff;
}
/* Vista 5 */
div.panels-flexible-home div.view-display-id-page_5 div.view-content div.views-field-title{
color:#fff;
}

/* Vista 7 Texto portada izquierda superior  */

div.panels-flexible-home div.view-display-id-page_7 div.view-content div.field-content p{
color:#fff;
padding-left:20px;
}

div.panels-flexible-home div.view-display-id-page_8 div.view-content div.field-content p{
color:#fff;
padding-left:20px;
}

div.panels-flexible-home div.panels-flexible-region-home-fila2reg3{
padding-top:1%;
}

div.panels-flexible-region-home-fila2reg1{
padding-top:6%;
}

div.panels-flexible-home div.view-display-id-page_2{
padding-top:10%;
}

div.panels-flexible-home div.view-display-id-page_3{
padding-top:5%;
}

div.panels-flexible-home div.view-display-id-page_5{
padding-top:5%;
}



/* Fin del panel HOME */

/* Cosecha del agua */

/* Texto izquierda */
div.panels-flexible-cosecha div.view-display-id-page_7 div.view-content div.views-field-field-descripcion-value div.field-content{
padding-left:5%;
color:#fff;
font-size:12px;
}


/* Texto derecho */
div.panels-flexible-cosecha div.view-display-id-page_8 div.view-content div.views-field-field-descripcion-value div.field-content{
padding-left:5%;
color:#fff;
font-size:12px;
}

div.panels-flexible-cosecha div.panels-flexible-row-cosecha-main-row{
padding-bottom:2%;
}
div.panels-flexible-cosecha div.panels-flexible-row-cosecha-1{
padding-bottom:3%;
}

div.view-display-id-page_1{
text-align:center;
}

div.view-display-id-page_2{
text-align:center;
}

div.view-display-id-page_3{
text-align:center;
}

div.view-display-id-page_4{
text-align:center;
}

div.view-display-id-page_5{
text-align:center;
}


/* Fin de cosecha del agua */

div.panels-flexible-row-home-main-row{
padding-bottom:20px;
}


div.view-display-id-page_12 div.view-content div.views-row{
float:left;
text-align:center;
width:120px;
}

div.view-display-id-page_12 div.view-content div.views-row{
padding:20px 0 25px 0;
}
div.view-display-id-page_12 div.view-content{
padding-left:17%;
}


div.view-timeline-nodes div.view-content{
padding-top:5%;
padding-left:13%;
}

/* PIE */


div.creditos{
float:left;
padding-left:6.5%;
/*padding-top:5%;*/
}

div.agredec{
float:left;
padding-left:3%;
/*padding-top:5%;*/
}

div.bannerdown{
padding-top:10px;
padding-left:3%;
/*padding-top:6%;*/
float:left;
}

div.bannerdown a{
padding-right:5px;
}

div.view-display-id-page_9 div.view-content div.views-field-body div.field-content p{
padding-top:10px;
font-size:12px;
width:280px;
color:#fff;
}

div.view-display-id-page_10 div.view-content div.views-field-body div.field-content p{
padding-top:10px;
font-size:12px;
width:280px;
color:#fff;
}


