body{
background-color:#333;
}

#page {
background-color:#1A7440;
overflow:hidden;

}

#header {
/*background:url("../images/cabecera.jpg") no-repeat scroll 0 0 transparent;*/
height:260px;
}

#main-wrapper{
background:url("../images/cuerpo.jpg") no-repeat scroll 0 0 transparent;
height:auto;
background-color:#1A7440;
}


#footer{
background:url("../images/pie.jpg") no-repeat scroll 0 0 transparent;
height:140px;
padding-bottom:20px;
}

#content-area {
padding:10px 20px 20px 20px;
font-size:12px;
}

#content-area .content{
padding:2%;

}

#content-area .field-items{
color:#fff;
}

#content-area .submitted{
color:#fff;
}
#content-area .links a:link{
color:#fff;
}
#main #content-area .field-items img{
float:left;
padding-right:15px;
}

#main .section{
padding:1% 2% 0 2%;
}

#main .section h1{
color:#fff;
}


.breadcrumb a{
color:#fff;
font-size:12px;
text-decoration:none;
padding-left:3%;
padding-top:1%;
}

.breadcrumb{

color:#fff;
}

div.help{
padding:0 20px 0 20px;
}

div.tabs{
padding:0 20px 0 20px;
}

div.messages{
padding:0 20px 0 20px;
}

h1.title, h2.title, h3.title {
padding-left:20px;
}

div.breadcrumb{
padding:0 20px 0 20px;
}

/* PANEL HOME */

/* Vista 1 */
div.panels-flexible-home div.view-display-id-page_1 div.view-content div.views-field-title{
color:#fff;
}
/* Vista 2 */
div.panels-flexible-home div.view-display-id-page_2 div.view-content div.views-field-title {
color:#fff;
width:150px;
padding-left:20%;
}
/* Vista 3 */
div.panels-flexible-home div.view-display-id-page_3 div.view-content div.views-field-title{
color:#fff;
}
/* Vista 4 */
div.panels-flexible-home div.view-display-id-page_4 div.view-content div.views-field-title{
color:#fff;
}
/* Vista 5 */
div.panels-flexible-home div.view-display-id-page_5 div.view-content div.views-field-title{
color:#fff;
}

/* Vista 7 Texto portada izquierda superior  */

div.panels-flexible-home div.view-display-id-page_7 div.view-content div.field-content p{
color:#fff;
padding-left:20px;
}

div.panels-flexible-home div.view-display-id-page_8 div.view-content div.field-content p{
color:#fff;
padding-left:20px;
}

div.panels-flexible-home div.panels-flexible-region-home-fila2reg3{
padding-top:1%;
}

div.panels-flexible-region-home-fila2reg1{
padding-top:6%;
}

div.panels-flexible-home div.view-display-id-page_2{
padding-top:10%;
}

div.panels-flexible-home div.view-display-id-page_3{
padding-top:5%;
}

div.panels-flexible-home div.view-display-id-page_5{
padding-top:5%;
}

.portadacosecha{
text-align:center;
}

.portadaproyeto{
text-align:center;
}
.portadatesti{
text-align:center;
}
.portadabiblio{
text-align:center;
}
.portadacondesan{
text-align:center;
}

.timeline_nodes-wrapper{
padding-top:5%;
padding-bottom:20%;
}


/* Fin del panel HOME */

/* Cosecha del agua */

/* Texto izquierda */
div.panels-flexible-cosecha div.view-display-id-page_7 div.view-content div.views-field-field-descripcion-value div.field-content{
padding-left:5%;
color:#fff;
font-size:12px;
}


/* Texto derecho */
div.panels-flexible-cosecha div.view-display-id-page_8 div.view-content div.views-field-field-descripcion-value div.field-content{
padding-left:5%;
color:#fff;
font-size:12px;
}

div.panels-flexible-cosecha div.panels-flexible-row-cosecha-main-row{
padding-bottom:2%;
}
div.panels-flexible-cosecha div.panels-flexible-row-cosecha-1{
padding-bottom:3%;
}
.cosechaimageninfra{
text-align:center;
}

.menuinfra .view-content span.field-content{
color:#fff;
}

/* Fin de cosecha del agua */

div.panels-flexible-row-home-main-row{
padding-bottom:20px;
}


div.view-display-id-page_12 div.view-content div.views-row{
float:left;
text-align:center;
width:120px;
}

div.view-display-id-page_12 div.view-content div.views-row{
padding:20px 0 25px 0;
}
.menuinfra div.view-content{
padding-left:17%;
}


div.view-timeline-nodes div.view-content{
padding-top:5%;
padding-left:13%;
}


/* Proyecto de vida */
.slideshowproyecto{
float:right;
padding: 2% 5% 15px 15px;
}

.proyectovidatexto{
padding:2% 5% 0% 5%;
color:#fff;
font-size:12px;

}
/* PIE */


div.creditos{
float:left;
padding-left:6.5%;
/*padding-top:5%;*/
}

div.agredec{
float:left;
padding-left:3%;
/*padding-top:5%;*/
}

div.bannerdown{
padding-top:10px;
padding-left:3%;
/*padding-top:6%;*/
float:left;
}

div.bannerdown a{
padding-right:5px;
}

div.view-display-id-page_9 div.view-content div.views-field-body div.field-content p{
padding-top:10px;
font-size:12px;
width:280px;
color:#fff;
}

div.view-display-id-page_10 div.view-content div.views-field-body div.field-content p{
padding-top:10px;
font-size:12px;
width:280px;
color:#fff;
}

.nav li {
float:left;
}

.slideshow .view-content .views-field-field-imagenes-fid .field-content img{
float:left;
padding-right:15px;
padding-left:25%;
}

.slideshow{
padding-top:2%;	
}

.nav{
padding-top:2%;
padding-left:10%;
}

.panels-flexible-row-legado-3-inside .menuinfra{
padding-top:5%;
}

.panels-flexible-region-testimonios-fila4reg1 .menuinfra{
padding-top:5%;
}

.panels-flexible-row-cosecha-4-inside .menuinfra{
padding-top:5%;
}

.slideshow .view-content{
width:700px;
}



.view-display-id-page_1 .view-content .views-field-field-descripcion-value .field-content{
color:#fff;
font-size:12px;
}

.view-display-id-page_2 .view-content .views-field-field-descripcion-value .field-content{
color:#fff;
font-size:12px;
}

.view-display-id-page_3 .view-content .views-field-field-descripcion-value .field-content{
color:#fff;
font-size:12px;
}

.nav .view-content .views-row{
text-align:center;
}

.nav .view-content .views-field-phpcode span.field-content a img{
padding-left:10px;
padding-top:10px;
}

.nav .view-content .item-list ul li{
list-style-type: none;
}

.navideo .view-content .item-list ul li{
list-style-type: none;
}

.navideo li{
float:left;
}

.navideo .view-content .views-field-phpcode span.field-content a img{
padding-right:10px;
}

.slideshowvideo .attachment{
margin-bottom:40%;
}

.cosecharticulos a{
text-decoration:none;
color:#fff;
font-size:12px;
list-style: circle outside;
}

.cosecharticulos .view-content .views-row{
padding-bottom:1%;
}

.cosecharticulos .view-content{
padding-left:5%;
}

.panels-flexible-cosecha h2{
color:#fff;
padding-left:5%;
}

.cosechavideo{
padding-left:5%;
}

/* Relación con condesan */

.condesantexto{
padding:5% 10% 12% 10%;
}
.condesantexto .field-content{
color:#fff;
font-size:12px;
}

 .condesanvideo{
 padding-top:3%;
 text-align:center;
 }

/* TEstimosnios */

.testiIz{
padding-left:5%;
}
/*
.slideshowvideo .attachment-after .navideo .view-content{
padding-left:5%;
}*/

.slideshowvideo .view-content .views-row .views-field-field-videos-embed span.field-content .emvideo-youtube{
padding-top:5%;
padding-left:43%;
}

.slideshowvideo .attachment-after .navideo{
padding-top:35%;
}
