.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-cosecha-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-cosecha-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-cosecha {
  width: auto;
}

.panels-flexible-region-cosecha-center {
  float: left;
  width: 49.5000%;
}

.panels-flexible-region-cosecha-region2 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-cosecha-main-row-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-cosecha-fila2reg1 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-region-cosecha-fila2reg2 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-cosecha-1-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-cosecha-fila4reg1 {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cosecha-3-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-cosecha-icono_centro {
  float: left;
  width: 24.8425%;
}

.panels-flexible-region-cosecha-fila5col2 {
  float: left;
  width: 24.9681%;
}

.panels-flexible-region-cosecha-fila5col3 {
  float: left;
  width: 24.7232%;
}

.panels-flexible-region-cosecha-fila5col4 {
  float: left;
  width: 24.4662%;
}

.panels-flexible-row-cosecha-4-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-cosecha-fila6col1 {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cosecha-5-inside {
  padding-left: 0px;
  padding-right: 0px;
}

